<div class="container">
  <div class="background-create-wrapper-3">
    <div id="form-wrapper">
      <div id="create-book-box m-8">
        <div class="nested-create-form m-8">
          <div id="header-create-form">
            <h2>Create a booking for this book</h2>
            <%= image_tag "figures/2.png", id:"figure-reading-create" %>
          </div>
          <%= simple_form_for [@book, @booking] do |f| %>
            <%= f.input :from, as: :string, required: false, input_html: {class: "datepicker"}, class: "form-control", placeholder: "click to select start date" %>
            <%= f.input :until, as: :string, required: false, input_html: {class: "datepicker"}, class: "form-control", placeholder: "click to select end date" %>
            <div class="form-link-buttons">
              <%= f.button :submit, "Create booking request", class: "btn-create-booking" %>
              <%= link_to "Back", book_path(@book), method: :get,  class: "btn-create-booking" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
