<div class="container">
  <div class="background-create-wrapper-1">
    <div class="row justify-content">
      <div class="header" style="background-color: none">This is us</div>
      <div class="col-3">
        <div id="create-member1-box m-8" style="background-color: none">
            <div class="img-member">
              <%= image_tag "https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/29793381_1498444213618058_3430633972680359936_o.jpg?_nc_cat=110&ccb=2&_nc_sid=174925&_nc_ohc=KAxyVY-BaUYAX-oZ7_p&_nc_ht=scontent-frx5-1.xx&oh=659e483320ca6746ee9de897398b74a6&oe=5FEE9088", class: "img-member" %>
            </div>
            <div class="name-member">
              <h3>Greg</h3>
            </div>
            <div class="text-member">
              <p>Member 1 is a web development student at Le Wagon and a friend of britney spears</p>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member2-box m-8" style="background-color: none">
          <div class="img-member">
            <%= image_tag "https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/29793381_1498444213618058_3430633972680359936_o.jpg?_nc_cat=110&ccb=2&_nc_sid=174925&_nc_ohc=KAxyVY-BaUYAX-oZ7_p&_nc_ht=scontent-frx5-1.xx&oh=659e483320ca6746ee9de897398b74a6&oe=5FEE9088", class: "img-member" %>
          </div>
          <div class="name-member">
            <h3>Marike</h3>
          </div>
          <div class="text-member">
            <p>Member 2</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member3-box m-8" style="background-color: none">
          <div class="img-member">
            <%= image_tag "https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/29793381_1498444213618058_3430633972680359936_o.jpg?_nc_cat=110&ccb=2&_nc_sid=174925&_nc_ohc=KAxyVY-BaUYAX-oZ7_p&_nc_ht=scontent-frx5-1.xx&oh=659e483320ca6746ee9de897398b74a6&oe=5FEE9088", class: "img-member" %>
          </div>
          <div class="name-member">
            <h3>Lorenz</h3>
          </div>
          <div class="text-member">
            <p>Member 3</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member4-box m-8" style="background-color: none">
          <div class="img-member">
            <%= image_tag "https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/29793381_1498444213618058_3430633972680359936_o.jpg?_nc_cat=110&ccb=2&_nc_sid=174925&_nc_ohc=KAxyVY-BaUYAX-oZ7_p&_nc_ht=scontent-frx5-1.xx&oh=659e483320ca6746ee9de897398b74a6&oe=5FEE9088", class: "img-member" %>
          </div>
          <div class="name-member">
            <h3>Pia</h3>
          </div>
          <div class="text-member">
            <p>Member 4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= link_to "Go back", root_path, method: :get,  class: "btn-back-show" %>
  </div>
</div>
