<div class="container">
  <div class="background-about-us">
    <div id="about-us-border">
      <%= image_tag "figures/6.png", id:"figure-about-us" %>
    </div>
    <div class="row justify-content">
      <div class="col-3">
        <div id="create-member1-box m-8">
            <div class="about-us-member">
              <%= image_tag "about_us/Greg.jpg", class: "avatar-about-us" %>
              <h3>GREG</h3>
            </div>
            <div class="text-member">
              <p>Member 1 is a web development student at Le Wagon and a friend of britney spears</p>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member2-box m-8">
          <div class="about-us-member">
              <%= image_tag "about_us/Pia.jpg", class: "avatar-about-us" %>
              <h3>PIA</h3>
            </div>
          <div class="text-member">
            <p>Member 2</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member3-box m-8">
          <div class="about-us-member">
              <%= image_tag "about_us/Lorenz.jpg", class: "avatar-about-us" %>
              <h3>LORENZ</h3>
            </div>
          <div class="text-member">
            <p>Member 3</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member4-box m-8">
          <div class="about-us-member">
              <%= image_tag "about_us/Marike.jpg", class: "avatar-about-us" %>
              <h3>MARIKE</h3>
            </div>
          <div class="text-member">
            <p>Member 4</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <%= link_to "◄ Go back", root_path, method: :get,  class: "btn-back-show" %>
  </div>
</div>
