<div class="container">
  <div class="background-about-us">
    <div id="about-us-border">
      <%= image_tag "figures/8.png", id:"figure-about-us" %>
    </div>
    <div class="row justify-content mt-5">
      <div class="col-3">
        <div id="create-member1-box m-8">
            <div class="about-us-member">
              <%= image_tag "about_us/Greg.jpg", class: "avatar-about-us" %>
              <h3>GREG</h3>
            </div>
            <div class="text-member">
              <p>Loves Techno</p>
              <p>Hates the word availability (HOW DO YOU WRITE THAT?)</p>
              <p>Philosopher (no, really)</p>
              <a href="https://github.com/Gregkur" target="_blank"><i class="fab fa-github" style="font-size: 20px"></i></a>
              <a href="https://www.linkedin.com/in/grzegorz-kurzajczyk-6abba4158/" target="_blank"><i class="fab fa-linkedin ml-3" style="font-size: 20px"></i></a>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member2-box m-8">
          <div class="about-us-member">
              <%= image_tag "about_us/Pia.jpg", class: "avatar-about-us" %>
              <h3>PIA</h3>
            </div>
          <div class="text-member">
            <p>Loves Batch-490</p>
            <p>Hates red rakes</p>
            <p>Looks forward to non-code dreams</p>
            <a href="https://github.com/Piavh" target="_blank"><i class="fab fa-github" style="font-size: 20px"></i></a>
            <a href="https://www.linkedin.com/in/piavonheyer/" target="_blank"><i class="fab fa-linkedin ml-3" style="font-size: 20px"></i></a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member3-box m-8">
          <div class="about-us-member">
              <%= image_tag "about_us/Lorenz.jpg", class: "avatar-about-us" %>
              <h3>LORENZ</h3>
            </div>
          <div class="text-member">
            <p>Loves rails magic</p>
            <p>Hates regex</p>
            <p>Electrified by Techno Beats</p>
            <br>
            <a href="https://github.com/LorenzCronenberg" target="_blank"><i class="fab fa-github" style="font-size: 20px"></i></a>
            <a href="https://www.linkedin.com/in/lorenzcronenberg/" target="_blank"><i class="fab fa-linkedin ml-3" style="font-size: 20px"></i></a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div id="create-member4-box m-8">
          <div class="about-us-member">
              <%= image_tag "about_us/Marike.jpg", class: "avatar-about-us" %>
              <h3>MARIKE</h3>
            </div>
          <div class="text-member">
            <p>Loves BOOKS!</p>
            <p>Hates being distracted by her jumpy mind</p>
            <p>Dog person forever</p>
            <a href="https://github.com/melwers" target="_blank"><i class="fab fa-github" style="font-size: 20px"></i></a>
            <a href="https://www.linkedin.com/in/marikeelwers/" target="_blank"><i class="fab fa-linkedin ml-3" style="font-size: 20px"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <%= link_to "◄ Go back", root_path, method: :get,  class: "btn-back-show" %>
  </div>
</div>
