<div class="banner d-flex flex-column">
  <div class="container d-flex justify-content-center">
    <div class="container d-flex justify-content-center">
      <div>
        <h1>Sharing is caring</h1>
        <p>let's do it with <strong>books!</strong></p>
      </div>
      <%= image_tag "figures/2.png", id:"figure-reading" %>
    </div>
  </div>
</div>
<%# Search bar %>
<div class="container mt-5">
  <%= form_tag books_path, method: :get do %>
  <div class="search-form-control form-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search by title, author, or genre"
    %>
    <%= submit_tag "Search", class: "btn btn-search-purple" %>
  </div>
  <% end %>
</div>

  <%# <%= simple_form_for :search, url: books_path, method: :get do |f| %>
    <%# <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-purple">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

<div class="container d-flex flex-column mb-5" style="align-items: center">
  <div class="info-card-background pink d-flex">
    <%= image_tag "figures/7.png", id:"figure-hurray" %>
    <div class="info-card-text">
      <p id="tagline-pink">EASY PEASY</p>
      <h3>Borrow your next read</h3>
      <p class="description">You love to read but even more so for free? Your next book is probably sitting on somebody's shelf already. Check out books around you!</p>
      <%= link_to "EXPLORE BOOKS ▶", books_path, class: "btn btn-white" %>
    </div>
  </div>

  <div class="info-card-background-reversed yellow d-flex">
    <div class="info-card-text-reversed">
      <p id="tagline-yellow">ARE YOU A WIZARD, HARRY?</p>
      <h3>Find your tribe</h3>
      <p class="description">Find company to talk about your favorite topics in our forums! Harry Potter? True crime? Origami? Programming? We got you covered!</p>
      <%= link_to "EXPLORE BOOKCLUBS ▶", bookclub_path(rand(1..3)), class: "btn btn-white" %>
    </div>
    <%= image_tag "figures/3.png", id:"figure-pointing" %>
  </div>

  <div class="info-card-background green mb-5 d-flex">
    <%= image_tag "figures/6.png", id:"figure-love" %>
    <div class="info-card-text">
      <p id="tagline-green">CAN'T HOLD ALL THESE BOOKS!</p>
      <h3>Your online bookshelf</h3>
      <p class="description">Place your books on our online bookshelves! Manage your library without moving from your chair, and show others your collection!</p>
      
      <% if user_signed_in? %>
        <%= link_to "EXPLORE YOUR PROFILE ▶", page_path(current_user), class: "btn btn-white" %>
      <% else %>
        <%= link_to "CREATE ACCOUNT ▶", new_user_session_path, class: "btn btn-white" %>
      <% end %>
      
    </div>
  </div>
</div>

<div class="about-us">
  <div class="about-us-text container">
    <h3>
      “I am reading six books at once, the only way of reading; since, as you will agree, one book is only a single unaccompanied note, and to get the full sound, one needs ten others at the same time.”
    </h3>
    <h1>
      ― Virginia Woolf
    </h1>
  </div>
</div>