<div class="banner d-flex flex-column">
  <div class="container d-flex justify-content-center">
    <div class="container d-flex justify-content-center">
      <div>
        <h1>Sharing is caring</h1>
        <p>let's do it with <strong>books!</strong></p>
      </div>
      <%= image_tag "figures/2.png", id:"figure-reading" %>
    </div>
  </div>
</div>

<div class="container mt-5">
  <%= simple_form_for :search, url: books_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-purple">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<div class="container d-flex flex-column mb-5" style="align-items: center">
  <div class="info-card-background pink d-flex">
    <%= image_tag "figures/7.png", id:"figure-hurray" %>
    <div class="info-card-text">
      <p id="tagline-pink">EASY PEASY</p>
      <h3>Borrow your next read</h3>
      <p class="description">You love to read but even more so for free? Your next book is probably sitting on somebody's shelf already.</p>
      <%= link_to "EXPLORE BOOKS ▶", books_path, class: "btn btn-white" %>
    </div>
  </div>

  <div class="info-card-background-reversed yellow d-flex">
    <div class="info-card-text-reversed">
      <p id="tagline-yellow">ARE YOU A WIZARD, HARRY?</p>
      <h3>Find your tribe</h3>
      <p class="description">Find company to talk about your favorite topics in our forums! Harry Potter? True crime? Origami? Programming? We got you covered!</p>
      <p class="btn btn-white">EXPLORE BOOKCLUBS ▶</p>
    </div>
    <%= image_tag "figures/3.png", id:"figure-pointing" %>
  </div>

  <div class="info-card-background green mb-5 d-flex">
    <%= image_tag "figures/6.png", id:"figure-love" %>
    <div class="info-card-text">
      <p id="tagline-green">CAN'T HOLD ALL THESE BOOKS!</p>
      <h3>Your online bookshelf</h3>
      <p class="description">Place your books on our online bookshelves! Manage your library without moving from your chair, and show others your collection!</p>
      <p class="btn btn-white">EXPLORE YOUR PROFILE <i class="fas fa-caret-right"></i></p>
    </div>
  </div>
</div>

<div class="about-us">
  <div class="about-us-text">
    <h3>
      Read more books ♥
    </h3>
  </div>
</div>