<div class="d-flex flex-column" style="align-items: center">

  <div class="profile-wrapper pink">

    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <p><%= @user.address %></p>

    <% @user.books.each do |book| %>
        <ul>
          <li><%= link_to book.title, book_path(book) %></li>
        </ul>
    <% end %>
  </div>

  <div class="booking-wrapper yellow my-5">

    <h1>My bookings</h1>

    <div class="container">
      <div class="row">
      
      <% @user.bookings.each do |booking| %>
        <div class="col-md-5 booking-card">
          <img src="https://images.unsplash.com/photo-1545239351-cefa43af60f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1875&q=80"/>
            <div class="booking-card-info">
              <h2><%= booking.book.title %></h2>
              <div class="booking-card-dates"> 
                <h3>Location: <%= booking.user.address %></h3>
                <h3>Booking dates:</h3>
                <p>from <%= booking.from %> until <%= booking.until %></p>
              </div>
            </div>
        </div>
      <% end %>
     </div>
    </div>
  </div>

  <div class="container text-center my-5">
    <div class="mb-5">
      <%= link_to "Offer a new book", new_book_path, :method => :get, class:"button-red-profile"  %>
      <%= link_to "Create a new bookclub", new_book_path, :method => :get, class:"button-red-profile"  %>
    </div>
  </div>

</div>
