<div class="container">
  <div class="row">
		<div class="col-12 col-lg-8">
			<%= simple_form_for :search, url: root_path, method: :get do |f| %>
				<div class="search-form-control form-group">
					<input class="form-control string required" type="text" name="search[query]" id="search_query" />
					<button name="button" type="submit" class="btn btn-search-purple">
						<i class="fas fa-search"></i> Search
					</button>
				</div>
			<% end %>
			<h3><strong>BOOKS</strong></h3>
		  <div class="card-grid-index">
				<% @books.each do |book| %>
					<%= link_to book_path(book) do %>
						<div class="card-book-index">
							<% if book.photos.attached? %>
								<%= cl_image_tag book.photos[0].key, crop: :fill%>
							<% else %>
								<img src="https://images.unsplash.com/photo-1545239351-cefa43af60f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1875&q=80"/>
							<% end %>
							<div class="card-book-index-infos">
								<div>
									<div class="genre">
										<p><strong><span><%= book.genre %></span></strong></p>
									</div>
									<h2><%= book.title %></h2>
									<p><strong><%= book.author %></strong></p>
									<p> <%= book.year %> | <%= book.pages %></p>
									<div class="stars">
										<% 5.times do %>
											<i class="fas fa-star"></i>
										<% end %>
									</div>
								</div>
								<div class="card-book-user">
									<img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered"/>
									<div class="user-info">
										<p><strong><%= book.user.first_name %> <%= book.user.last_name %></strong></p>
										<p><%= book.user.address %></p>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
	  </div>
		<div class="col-12 col-lg-4">
			<img src="https://images.unsplash.com/photo-1516546453174-5e1098a4b4af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1900&q=80" id="map-index"/>
    </div>
	</div>
</div>