<div class="container-fluid">
  <div class="row">
		<div class="col-ms-12 col-lg-8">
			<%# Search form %>
			<div>
				<%= form_tag books_path, method: :get do %>
				<div class="search-form-control form-group mt-3">
					<%= text_field_tag :query,
						params[:query],
						class: "form-control",
						placeholder: "Search by title, author, or genre"
					%>
					<%= submit_tag "Search", class: "btn btn-search-purple" %>
				</div>
				<% end %>
			</div>
			<%# Book Card Grid %>
		  <div class="card-grid-books">
				<% @books.each do |book| %>
					<%= link_to book_path(book) do %>
						<div class="card-book-index">
							<% if book.photos.attached? %>
                <%#= If/else book availability %>
                <% if book.availability %>
  								<%= cl_image_tag book.photos[0].key, crop: :fill %>
                <% else %>
                  <%= cl_image_tag book.photos[0].key, :opacity => 40, crop: :fill %>
                <% end %>
							<% else %>
								<img src="https://images.unsplash.com/photo-1545239351-cefa43af60f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1875&q=80"/>
							<% end %>
							<div class="card-book-index-infos">
                <% if book.availability %>
  								<div>
  									<div class="genre">
  										<p><strong><span><%= book.genre %></span></strong></p>
  									</div>
  									<h2><%= book.title %></h2>
  									<p><strong><%= book.author %></strong></p>
  									<p> <%= book.year %> | <%= book.pages %> pp</p>
  									<div class="stars">
  										<% 5.times do %>
  											<i class="fas fa-star"></i>
  										<% end %>
  									</div>
  								</div>
  								<div class="card-book-user">
  									<%= image_tag book.user.photo, class:"avatar-bordered"%>
  									<div class="user-info">
  										<p><%= book.user.first_name %> <%= book.user.last_name %></p>
  										<p><%= book.user.address %></p>
  									</div>
  								</div>
                <% else %>
                  <div class="opacity">
                    <div class="genre">
                      <p><strong><span><%= book.genre %></span></strong></p>
                    </div>
                    <h2><%= book.title %></h2>
                    <p><strong><%= book.author %></strong></p>
                    <p> <%= book.year %> | <%= book.pages %> pp</p>
                    <div class="stars">
                      <% 5.times do %>
                        <i class="fas fa-star"></i>
                      <% end %>
                    </div>
                    <div class="card-book-user">
                      <%= image_tag book.user.photo, class:"avatar-bordered"%>
                      <div class="user-info">
                        <p><%= book.user.first_name %> <%= book.user.last_name %></p>
                        <p><%= book.user.address %></p>
                      </div>
                    </div>
                  </div>
                <% end %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
	  </div>
		<%# Map %>
    <div class="col-md-12 col-lg-4 map-container">
      <div class="map-sticky">
        <div id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
	</div>
</div>
<% unless @location %>
<script>
  function getGeoLocation() {
  navigator.geolocation.getCurrentPosition(setGeoCookie);
  }
  function setGeoCookie(position) {
    var cookie_val = position.coords.latitude + "|" + position.coords.longitude;
    document.cookie = "location=" + escape(cookie_val);
  }
  getGeoLocation();
</script>
<% end %>
