<div class="container">
  <div class="background-create-wrapper-1">
    <div id="form-wrapper">
      <div id="create-book-box m-8">
        <div class="nested-create-form m-8">
          <div id="header-create-form">
            <h2>Add a new book to your profile</h2>
          </div>
          <%= simple_form_for(@book) do |f| %>
            <%= f.input :title, placeholder: 'Harry Potter', class: "form-control" %>
            <%= f.input :author, placeholder: 'J. K. Rowling' %>
            <%= f.input :description, placeholder: 'please take a moment to describe your art book in a few sentences', class: "form-control" %>
            <%= f.input :genre, placeholder: 'Fantasy', class: "form-control" %>
            <%= f.input :year, placeholder: '1997', class: "form-control" %>
            <%= f.input :pages, placeholder: '500', class: "form-control" %>
            <!-- <div class="container d-flex justify-content-center"> -->
            <%= f.input :photos, as: :file, input_html: { multiple: true }, hint: 'please upload high-resolution pictures of your book', class: "form-control" %>
            <!-- </div> -->
            <%= f.submit class: "btn-create" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

