<div class="container d-flex flex-column my-5" style="align-items: center">
  <div class="row">
    <div class="book-card">
      <div class="book-pic">
        <% if @book.photos.attached? %>
          <%= cl_image_tag @book.photos[0].key, crop: :fill, class:"avatar-book" %>
        <% else %>
          <%= image_tag "https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80", class: "avatar-book", alt: "avatar-book" %>
        <% end %>
      </div>
      <div class="book-details">
        <h2> <strong> <%= @book.title %> </strong> </h2>
        <h3> <strong> <%= @book.author %> </strong> </h3>
        <h4> <%= @book.year %> | <%= @book.pages %> pages </h4>
        <h3> <i class="fas fa-map-marker-alt"></i>  <strong> <%= @book.user.address %> </strong> </h3>
        <br>
        <h4> <%= @book.description %> </h4>
        <div class="user-avatar">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar", crop: :fill %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "avatar", alt: "avatar-square" %>
          <% end %>
          <p> <%= @book.user.nickname %> </p>
        </div>


        <%= link_to new_book_booking_path(@book) do %>
        <button class="btn-booking">Make a booking request</button>
        <% end %>


        <% if policy(@book).update? %>
          <%= link_to edit_book_path(@book) do %>
          <i class="fas fa-edit"></i>
          <% end %>
        <% end %>

        <% if policy(@book).destroy? %>
          <%= link_to @book, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash mr-2 mt-2"></i>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <div class="book-reviews" style="background-color: #D4A1E3">
    <h3> <%= "What others said about #{@book.title}" %> </h3>
    <% if @book.reviews.empty? %>
      <h4>Be the first to leave a review</h4>
    <% else %>
      <div class="card-grid-review">
        <% @book.reviews.each do |review| %>

          <div class="card-book-review" style="background-color: white" >

            <% if review.book_rating %>
              <div class="stars">
                <% counter = 0 %>
                <% 5.times do %>
                  <i class="fa <%= review.book_rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                  <% counter += 1 %>
                <% end %>
              </div>
            <% end %>
            <h2><%= review.user.nickname %></h2>
            <p><%= review.book_comment %></p>
            <%= link_to edit_book_review_path(@book, review) do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to book_review_path(review), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash mr-2 mt-2"></i>
            <% end %>
            </div>

        <% end %>
      </div>
    <% end %>
    <br>
    <div class="write-review">
      <%= render "reviews/new", book: @book, review: @review %>
    </div>
  </div>

  <div>
    <%= link_to "Back to all books", books_path, method: :get, class: "btn btn-danger mt-3" %>
  </div>

    <!-- id: "books-link", class: "hidden" -->
</div>
