<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"id="modal-books">
    <div class="modal-content">
      <div class="row">
		<div class="col-12 col-lg-12">
            <div class="members-grid-bookclubs">
              <h1 class="text-center">Members</h2>
                <% @bookclub.members.each do |user| %>
                    <%= link_to profile_path(user) do %>
                        <div class="members-grid-card">
                            <% if user.photo.attached? %>
                                <%= cl_image_tag user.photo.key, crop: :fill%>
                            <% else %>
                                <img src="https://images.unsplash.com/photo-1545239351-cefa43af60f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1875&q=80"/>
                            <% end %>
                            <div class="bookclub-user-info">
                                <h1><%= user.first_name %> <%= user.last_name %></h1>
                                <h2><%= user.address %></h2>
                                <p><%= user.about %></p>
                                <% if user.books.length == 0 %>
                                  <p><strong><%= user.first_name %> has no books yet!</strong></p>
                                <% elsif user.books.length == 1 %>
                                  <p><strong><%= user.first_name %> has <%= user.books.length %> book!</strong></p>
                                <% else %>
                                  <p><strong><%= user.first_name %> has <%= user.books.length %> books!</strong></p>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
	      </div>
        </div>
	  </div>
    </div>
</div>