<%= render 'popup' %>
<%= render 'members' %>

<div class="container">

  <div class="bookclub-wrapper purple">
  <%# Checking if bookclub has a photo %>
    <% if @bookclub.photos.attached? %>
      <%= image_tag @bookclub.photos[0], crop: :limit, class:"bookclub-img"%>
    <% else %>
      <%= image_tag "https://images.unsplash.com/photo-1546284663-fed719f6612e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=657&q=80", crop: :limit, class:"bookclub-img"%>
    <% end %>

    <div class="bookclub-user-info">
        <h1 style="width: 520px"><%= @bookclub.name %></h1>
        <p><%= @bookclub.description %></p>
    </div>

    <div class="bookclub-page-books-wrapper">
      <div class="bookclubs-wrapper" style="cursor: pointer" data-toggle="modal" data-target=".bd-example-modal-lg2">
        <% @bookclub.members.take(3).each do |user|%>
        <%# Checking if users of bookclubs have photos %>
          <% if user.photo.attached? %>
            <%= image_tag user.photo %>
          <% else %>
            <%= image_tag "https://images.unsplash.com/photo-1576078044571-8ea98b0b0963?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" %>
          <% end %>

        <% end %>
        <% if @bookclub_users.length == 1 %>
          <p><strong><%= @bookclub_users.length %> member</strong></p>
        <% else %>
          <p><strong><%= @bookclub_users.length %> members</strong></p>
        <% end %>
      </div>

      <div class="bookclub-books-wrapper" style="cursor: pointer" data-toggle="modal" data-target=".bd-example-modal-lg">
        <% @bookclub_users.take(3).each do |user| %>
          <% user.user.books.each do |book| %>
          <%# Checking if user's book has photos %>
            <% if book.photos[0].present? %>
              <%= image_tag book.photos[0] %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1575709527142-a93ed587bb83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" %>
            <% end %>

          <% end %>
        <% end %>

         <% if @bookclub_books.length == 4 %>
            <p><strong>one more book</strong></p>
          <% elsif @bookclub_books.length == 3 %>
            <p><strong>3 books</strong></p>
          <% elsif @bookclub_books.length == 2 %>
          <p><strong>2 books</strong></p>
          <% elsif @bookclub_books.length == 1 %>
            <p><strong>1 book</strong></p>
          <% elsif @bookclub_books.length == 0 %>
            <p><strong>Time to gain some members!</strong></p>
          <% else %>
            <p><strong>+<%=@bookclub_books.length - 3%> more books</strong></p>
          <% end %>
      </div>
    </div>

    <% if !current_user.in?(@bookclub.members) && user_signed_in? %>
      <%= link_to "Join now!", join_path, :method => :post, class:"button-red-profile", id:"joinbookclub", remote: true %>
    <% end %>

  </div>
    <div class="background-create-wrapper-thread mx-auto">
      <div class="header-create-form">
        <h2>Bookclub Talks</h2>
        <%= image_tag "figures/2.png", id:"figure-reading-thread" %>
      </div>
      <div class="create-thread-box">
        <div class="nested-create-thread-form">
          <%= render "bookclub_threads/new", bookclub: @bookclub, bookclub_thread: @bookclub_thread %>
        </div>
      </div>
      <div class="all-threads" style="margin 0 auto">
        <% @bookclub_threads.each do |bookclub_thread| %>
          <div class="existing-threads-box">
            <div class="nested-existing-threads">
            <!-- <div class="card-thread mt-3"> -->
              <p>Posted by <%= bookclub_thread.user.first_name %> <%= bookclub_thread.user.last_name %></p>
              <h3><%= bookclub_thread.title %></h3>
              <p><%= bookclub_thread.content %></p>
              <div class="avatar-thread">
                <%= image_tag bookclub_thread.user.photo, class:"avatar-large"%>
              </div>
              <div class="functional-buttons">
                <% if current_user != @bookclub_thread.user %>
                  <div id="edit-thread">
                    <%= link_to edit_bookclub_bookclub_thread_path(@bookclub, bookclub_thread) do %>
                      <p>edit</p>
                    <% end %>
                  </div>
                  <div id="delete-thread">
                    <%= link_to bookclub_bookclub_thread_path(bookclub_thread), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <p>delete</p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
            <% if bookclub_thread.comments.present? %>
              <div class="nested-existing-comments">
                <div id="border-comments">
                </div>
                <% bookclub_thread.comments.each do |comment| %>
                  <div class="comment">
                    <p><%= comment.content %></p>
                  </div>
                  <div class="commenter mt-2">
                    <p>Posted by <%= comment.user.first_name %> <%= comment.user.last_name %> </p>
                    <div id="delete-comment">
                      <%= link_to comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <p>| delete</p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="nested-create-comment-form">
                <%= render "comments/new", bookclub: @bookclub, bookclub_thread: bookclub_thread, comment: @comment %>
              </div>
            <% else %>
              <div class="nested-create-comment-form">
                <%= render "comments/new", bookclub: @bookclub, bookclub_thread: bookclub_thread, comment: @comment %>
              </div>
            <% end %>
          <!-- </div> -->
          </div>
        <% end %>
    <% if @pia  %>
      <div class="pia"></div>
    <% end %>
      </div>
    </div>
  </div>
  <div class="container text-center my-5">
  <div class="container">
    <div class="row">
      <%= link_to "◄ Go back ", bookclubs_path, method: :get, id: "books-link", class: "btn-back-show" %>
    </div>
  </div>
</div>
